<a href="https://colab.research.google.com/github/ChillyPNDA/PROGCOM-A/blob/main/15_y_19_de_Agosto_Juan_Daniel_Sierra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición

##Estructura para - for

1. Cuando se sabe cuantas veces se repite una acción
2. Está conformado por una condición inicial (CI) una
condición final (CF) y pasos (frecuencia de repetición).
3. Esta estructura no se detendrá, hasta alcanzr CF-1.

Estructura general del for


```
for (variable) in range (CI, CF+1, paso):
  Se repite (CI, CF+1, paso)/ veces una acción
```

Estructura resumida del for



```
for (variable) in range (cantidad):
  Se repite cantidad de veces una acción
```

Estructura for como interación

1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista
por iteración.

```
Lista = [1, 2, 3, 4, 5]
for (variable in Lista:
  Se repite len(Lista)

```

#Hacer la tabla de multiplicar de un número n

In [ ]:
n = int(input("Introduce un número"))

print (f"Tabla del {n}")
for holitas in range (1, 11):
  print(f"{n} x {holitas} = {n*holitas}")

Introduce un número5
Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#Todas las tablas del 1 - 10

In [ ]:
for n in range (1, 11):
  print(f"Tabla del {n}")
  for holitas in range (1, 11):
    print(f"{n} x {holitas} = {n*holitas}")

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range (10):
  print(f"{n} x {holitas+1} = {n*(holitas)}")

Tabla del 10
10 x 1 = 0
10 x 2 = 10
10 x 3 = 20
10 x 4 = 30
10 x 5 = 40
10 x 6 = 50
10 x 7 = 60
10 x 8 = 70
10 x 9 = 80
10 x 10 = 90

#EJERCICIO DE LA TABLA DEL 7

In [ ]:
n=7
print(f"Tabla del {n}")
for holitas in range (n,11*n,n):
  print(f"{n} x {(holitas/n)} = {n*int(holitas/n)}")

Tabla del 7
7 x 1.0 = 7
7 x 2.0 = 14
7 x 3.0 = 21
7 x 4.0 = 28
7 x 5.0 = 35
7 x 6.0 = 42
7 x 7.0 = 49
7 x 8.0 = 56
7 x 9.0 = 63
7 x 10.0 = 70

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

##Listas
1. es un tipo de datos
2. Todos los elementos de una lista,
**deben** separarse por comas
3. Forma canónica para declarar una
lista


```
(variable)=[]
```

ejemplo:
flores=["amapola", "tulipan", "lengua de suegra", dahlia, rosa]

In [ ]:
dahlia= 3 #variable de tipo numérica, int
rosa= "cinco"# variable de tipo alfanumérico, str
flores=["amapola", "tulipan", "lengua de suegra" dahlia, rosa]

4. Manual


```
Lista2= [dato1,dato2,dato3...datoN]
```

5. Siempre son finitas
6. son indexadas


```
Lista2= [dato1,dato2,dato3...datoN]
```
dato1 está en el index
dato2 está ubicado en el index 2
7. Estructuras **para** la
creación de listas

```
#Ejemplo: Crear una lista de 5 elementos
lista=[]#Para que el programa sepa que
es una lista
for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")

```

In [5]:
flores

NameError: name 'flores' is not defined

In [3]:
lista=[]
for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")

Ingrese el nombre de una flordahlia
Ingrese el nombre de una florrosa
Ingrese el nombre de una florsiete cueros
Ingrese el nombre de una flortulipan
Ingrese el nombre de una flormargarita

In [ ]:
#Quiero saber quien esta en la primera posición
flores[0]

In [ ]:
flores[4]

In [ ]:
len(flores)

In [ ]:
flores[len(flores)-1]

In [ ]:
flores.index("lengua de suegra")

In [ ]:
type(lista)

In [ ]:
for i in flores:
  print(i)

##EJERCICIOS DE XP ESTRUCTURAS DE REPETICIÓN

#1. PROGRAMA NÚMEROS DEL 1 AL 10

In [8]:
for i in range (1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [10]:
numeros = [i for i in range(1,11)]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#2. SUMA DE NUMEROS DEL 1 AL 100

In [12]:
suma=0
for i in range (1,101):
  suma+= i
print("la suma da:", suma)

la suma da: 5050

In [13]:
suma = sum([i for i in range(1,101)])
print("la suma da:", suma)

la suma da: 5050

#3. MÚLTIPLOS DEL 3 ENTRE 1 Y **30**

In [14]:
for i in range(1,31):
  if i % 3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [16]:
multiplos = [i for i in range(1,31) if i % 3==0]
print(multiplos)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#4. PROGRAMA QUE LEA UN NUMERO E IMPRIMA SU TABLA DEL 1 AL 10

In [17]:
num = int(input("ingresa un número: "))
for i in range (1,11):
  print(f"{num} x {i} = {num * i}")

ingresa un número: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num = int(input("Ingrese un número: "))
tabla = [f"{num} x {i} = {num * i}" for i in range (1,11)]
print("/n".join(tabla))

#5. PROGRAMA DE CÁLCULO DE NUMEROS Y PROMEDIO

In [ ]:
num = int(input("Ingrese un número: "))
for i in [num]:
  if i % 2==0
  print(f"{i} es par")
else:
  print(f"{i} es impar")

In [ ]:
num = int(input("ingresa un número: "))
respuesta = ["par" if num % 2==0 else "impar"][0]
print(f"{num} es {respuesta}")

#6. CÁLCULO DE NÚMEROS PARES ENTRE 1 Y EL NÚMERO INGRESADO POR EL USUARIO

In [ ]:
n = int(input("Ingresa un número: "))
cantidadpares = 0
for i in range (1, n+1):
  if i % 2==0:
    cantidadpares+=1
  print(f"entre 1 y {n} hay {cont} números pares")

In [ ]:
n = int(input("Ingresa un número: "))
pares = [i for i in range(1, n+1) if i % 2 ==0]
print (f"entre 1 y {n} hay {len(pares)} números pares")

#7. PROGRAMA DE CONTRASEÑAS

In [ ]:
apellido = input("Escribe tu apellido: ")
clavecorrecta = apellido + str(len(apellido))

clave = ""
while clave != clavecorrecta:
  clave = input("Escribe la contraseña (apellido + cantidad de letras): ")
  if clave != clavecorrecta:
    print("Contraseña incorrecta, intenta otra vez.")

print("¡Contraseña válida!")